@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

/*het stylen van de navigatie bar boven aan in beeld*/
.navigatie {
    background-color: #333;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    /*top: 0;*/
}

.logo a {
    color: white;
    text-decoration: none;
    /*font-size: 1.5rem;*/
    font-size: 25px;
    font-weight: bold;
}

.menu {
    display: flex;
    list-style: none;
    gap: 30px;
}
/*padding maakt de boxen van de links groter*/
.menu li a {
    color: white;
    /*text-decoration: none;*/
    padding: 8px 15px;
    /*transition: all 0.3s ease;*/
}

.menu li a:hover {
    background-color: #555;
    border-radius: 5px;
}